# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                      @henry-will @hyunsooda @2dvorak
/contracts                             @henry-will @nohkwak @2dvorak @hyunsooda @hqjang-pepper
/bridge                                @henry-will @nohkwak @2dvorak @hyunsooda @hqjang-pepper
/tokens                                @henry-will @nohkwak @2dvorak @hyunsooda @hqjang-pepper